{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Welcome!</h1>
</div>

<div>
    <h5 class="well">
      <a href="/report1">Report 1 (sales report with filter by period)</a>
      <a href="/report2">Report 2 (TOP 100)</a>
      <br>
      <a href="/orders">Orders list</a>
      <br>
      to generate some quantity of orders. go to /api/management/{NoOfOrders}
      where {NoOfOrders} - (int) - quantity of orders to be created
    </h5>
</div>

{% endblock %}