{% extends "_base.html" %}

{% block content %}

    {% if orders_qty %}
        <div class="text-center">
          <h2>Number of Orders created: {{ orders_qty }}</h2>
        </div>
    {% endif %}

<div class="text-center">
  <h1>Orders list</h1>
</div>



<div>
  {% for order in orders %}
    <h4 class="well"><strong>Ord.No {{order.number}}</strong> - <em>{{order.created_date.strftime('%Y-%m-%d')}}</em> (id):{{order.id}} </h4>
          {% for order_line in order.order_lines %}
                <h5 class="well">{{order_line.order_line_line_no}}.  {{order_line.product_name}} , {{order_line.product_price}} *  {{order_line.amount}}</h5>
          {% endfor %}
  {% endfor %}
</div>

{% endblock %}