{% extends "_base.html" %}

{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

}
</style>


<div class="text-center">
  <h1>Report1 (sales by period)</h1>
</div>

<br>

<form method="post">{% csrf_token %}
  <div class="form-group">
    <input name="startdate" class="form-control input-lg" type="date" placeholder="Start date" required>
    <input name="enddate" class="form-control input-lg" type="date" placeholder="End date" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

{% if error %}
  {{error}}
{% endif %}

{% if query_info %}
  {{query_info}}
{% endif %}

{% if reportdata %}
<div>
  <div class="text-center">
  <h5>Report result</h5>
{% if startdate %}
  {{startdate}} - {{enddate}}
{% endif %}

<div>
  <table>
  <tr>
    <th>Order date, time</th>
    <th>Order No</th>
    <th>Order sum</th>
    <th>Item details</th>
  </tr>
  {% if reportdata %}
  {% for orderdataelement in reportdata %}

        <tr>
         <td> {{ orderdataelement.0.created_date|date:"d, M, Y"}} </td>
        <td>{{ orderdataelement.0.number }}</td>
        <td> {{ orderdataelement.2 }} </td>
        <td> - </td>
         </tr>
          {% for order_line in orderdataelement.1 %}
                <tr>
                <td></td>
                <td></td>
                <td>{{order_line.order_sum}}</td>
                <td>{{order_line}}</td>
                </tr>
          {% endfor %}
  {% endfor %}
  {% endif %}
    <th>TOTAL:</th>
    <th></th>
    <th>{{report_total}}</th>
    <th></th>

   </table>
  </div>
{% endif %}

{% endblock %}