{% extends "_base.html" %}

{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

}
</style>


<div class="text-center">
  <h1>Report2 (Top 100)</h1>
</div>

{% if error %}
  {{error}}
{% endif %}

{% if query_info %}
  {{query_info}}
{% endif %}


{% if reportdata %}
<div>
  <div class="text-center">
  <h5>Report result</h5>
<div>
  <table>
  <tr>
    <th>Product name</th>
    <th>Order No</th>
    <th>Price</th>
    <th>Date</th>
  </tr>
  {% for orderitem in reportdata %}
      <tr>
    <td>{{orderitem.2}}</td>
    <td>{{orderitem.0}}</td>
    <td>{{orderitem.3}}</td>
    <td>{{orderitem.1}}</td>
      </tr>

  {% endfor %}

   </table>
  </div>
{% endif %}

{% endblock %}